:root {
    --blue-color: #5B6BDC;
    --white-color: #fff;
    --black-color: #505050;
    --grey-color: #7e7172;
    --red-color: #e70f0f;
    --pink-color: #e08282;
    --yellow-color: #FFD62C;
    --sky-color: #5daef6;
    --brown-color: #EA6060;
    --gray-color: #bab9b9;
    --violet-color: #eac9f9;
    --green-pastel-color: linear-gradient(180deg,#a805f4,#1e4ca265);
    --green-color: #04a204;
    --body-color: #F7FAFF;
    --light-color: #f7f7f8;
    --nblue-color:rgb(113, 126, 225);
}
.fa-solid {
    color: var(--grey-color);
}