form {
    width: 340px;
    margin: 20px 30px;
    display: flex;
    position: relative;
}

input[type="text"] {
    border-radius: 20px;
    width: 100%;
    padding: 7px 20px;
    box-sizing: border-box;
}

input[type="submit"] {
    position: absolute; 
    padding: 7px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    right: 3px;
    width: 80px;
    margin-top: 1px;
    background-color: white;
    color: var(--pink-color);
    border: none;
    cursor: pointer;
}
