.add_staff {
    margin-left: 20px;
}
.add_staff input {
    color: var(--white-color);
    border: 0px;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
    background-color: var(--blue-color);
}

.staff-backgr {
    margin: 20px;
    background-color: var(--white-color);
}
.staff-backgr th {
    font-weight: 400;
    background-color: var(--light-color);
    padding: 8px;
    width: 280px;
    border-bottom: 2px solid rgba(0,0,0,0.2);
}
table, td {
    border-collapse: collapse ;
}
th, td {
    color: var(--grey-color);
    text-align: left;
    border-bottom: 1px solid rgba(135, 128, 128, 0.2);
}